{{> head}}
{{> navbar}}
   
    <div class="row">
        <div class="col-8">
            <h1>Soy Arthur</h1>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/IMG_20200130_225101_714.jpg" alt="">
        </div>
    </div>

 {{> footer}}